<ul class="example-orbit" data-orbit>
  <li>
    <img src="http://static01.nyt.com/images/2014/10/14/us/SUB-JP-BOOTCAMP1/SUB-JP-BOOTCAMP1-superJumbo.jpg" alt="slide 1" />
    <div class="orbit-caption">
      Welcome Pocket Mice!
    </div>
  </li>
  <li class="active">
    <img src="http://static01.nyt.com/images/2014/10/14/us/JP-BOOTCAMP2/JP-BOOTCAMP2-superJumbo.jpg" alt="slide 2" />
    <div class="orbit-caption">
      The back of your head's ridiculous!
    </div>
  </li>
  <li>
    <img src="http://static01.nyt.com/images/2014/10/14/us/JP-BOOTCAMP3/JP-BOOTCAMP3-superJumbo.jpg" alt="slide 3" />
    <div class="orbit-caption">
      The Sheriff
    </div>
  </li>
</ul>

<!-- comment to push to git -->